.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.logo2 {
    width: 150px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-left: 16px;
    flex-grow: 1;
}

.social-icons .fa {
    color: #ccc;
}

.social-icons{}
.fa-brands {
    padding: 8px;
    border-radius: 50%;
    color: #ffffff;
    background: #1A2F4B;
    margin-right: 15px;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
}

.lang-menu {
    width: 175px;
    text-align: center;
    font-weight: bold;
    margin-top: 16px;
    position: relative;
    cursor: pointer;
    font-size: 16px;  /* Adjust font size if needed */
    padding-right: 16px;
}

.lang-menu .selected-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    padding: 5px 10px;
    background-color: #fff; /* Optional background for contrast */
    border-radius: 5px; /* Optional: Rounded corners */
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Prevents overflow */
}

.lang-menu .selected-lang .lang-name {
    padding-right: 5px;
}

.lang-menu .selected-lang .lang-flag {
    margin-right: 10px; /* Adds space between the flag and the text */
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 10px;
    width: 180px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    align-items: center;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 180px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: #333;
}

.lang-menu ul li .flag-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu:hover ul {
    display: block;
}

.copyright {
    text-align: center;
}
